<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestApplication">
    <test name="CreateNewCustomer">
        <classes>
            <class name="webTestCases.TC_001_AddNewCustomer"/>
        </classes>
    </test>
</suite>
